* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Staatliches', sans-serif;

  align-items: center;
  margin: 0 auto;
  
  width: 38.4rem;
  display: flex;
  flex-direction: column;
}

.page {
  text-align: center;

  background: #EFF1FF;
}

header {
  background: #8E9AAF;

  text-align: center;
  
  height: 27rem;
}

header img {
  margin-top: 3.2rem;
}

header h1 {
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;

  margin-top: 4rem;

  display: flex;
  justify-content: center;
  padding: .8rem;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  background: #CBC0D3;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
  width: 32rem;
  margin-top: 1.4rem;
  padding: 0 1.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

main p {
  font-family: 'Palanquins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.3rem;

  width: 30.5rem;

  display: flex;
  align-items: center;
  text-align: center;

  margin-bottom: 3.1rem;

  color: #23053A;
}

.card {
  position: relative;
}

.card img {
  border-radius: 20px;
  object-fit: cover;
}

.card h2 {
  position: absolute;
  top: 1rem;
  right: 5.6rem;


  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #4A4E69;
  
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: 2.4rem;
  padding: 0 1.5rem;

  background: #FEEAFA;
  border-radius: 20px;
}